.StatusBar {
  flex: 0 0 auto;
  height: $unit * 4;
  background-color: #fff;
  line-height: $unit * 3;
  padding-left: $unit;
  padding-right: $unit;
  box-sizing: border-box;
  border-top: 2px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.StatusBar-zoom-slider-container {
  display: flex;
  align-items: center;
}

.StatusBar-zoom-label {
  display: inline-block;
  margin-right: 8px;
  width: 120px;
  text-align: right;
}

.StatusBar-zoom-slider {
  -webkit-appearance: none;
  width: 100px;
  margin: 8.1px 0;

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 3.8px;
    cursor: pointer;
    background: #000000;
    border-radius: 0px;
    border: 0px solid #010101;
  }

  &::-webkit-slider-thumb {
    border: 2px solid #000000;
    height: 16px;
    width: 13px;
    border-radius: 0px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.1px;
  }

  &:focus::-webkit-slider-runnable-track {
    background: #0d0d0d;
  }

  &::-moz-range-track {
    width: 100%;
    height: 3.8px;
    cursor: pointer;
    background: #000000;
    border-radius: 0px;
    border: 0px solid #010101;
  }

  &::-moz-range-thumb {
    border: 2px solid #000000;
    height: 12px;
    width: 9px;
    border-radius: 0px;
    background: #ffffff;
    cursor: pointer;
  }

  &::-ms-track {
    width: 100%;
    height: 3.8px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: #000000;
    border: 0px solid #010101;
    border-radius: 0px;
  }

  &::-ms-fill-upper {
    background: #000000;
    border: 0px solid #010101;
    border-radius: 0px;
  }

  &::-ms-thumb {
    border: 2px solid #000000;
    height: 12px;
    width: 9px;
    border-radius: 0px;
    background: #ffffff;
    margin-top: 0px;
    cursor: pointer;
  }

  &:focus::-ms-fill-lower {
    background: #000000;
  }

  &:focus::-ms-fill-upper {
    background: #0d0d0d;
  }
}
