.ToolButton {
  cursor: pointer;
  width: $unit * 6;
  height: 100%;
  line-height: $ToolBar-height * 2 - $unit * 3.5;
  font-family: inherit;
  font-size: 16px;
  box-sizing: border-box;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center $unit;
  border: none;

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.is-active {
    background-color: #ddd;
  }

  &:not([disabled]) {
    &:hover {
      background-color: #eee;
    }
  }
}
