.ToolButton {
  cursor: pointer;
  width: $unit * 6;
  height: 100%;
  line-height: 84px;
  font-family: inherit;
  font-size: 14px;
  box-sizing: border-box;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center $unit;
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 0;
  padding-right: 0;

  &[disabled] {
    opacity: 0.5;
    filter: grayscale(100%);
    cursor: default;
  }

  &.is-active {
    background-color: #ddd;
  }

  &:not([disabled]) {
    &:hover {
      background-color: #eee;
    }
  }

  @media screen and (max-width: $breakpoint-small) {
    width: $unit * 4;
    background-size: 16px 16px;
    background-position: center ($unit * 2 / 3);
    line-height: (84px * 2 / 3);
    font-size: 10px;
  }
}
