$unit: 8px;

$viewer-bg-color: rgb(140, 140, 140);
$control-light-color: rgb(220, 220, 220);
$resize-icon-color: rgb(80, 80, 250);

$Canvas-checkerboard-color-dark: rgb(230, 230, 230);
$Canvas-checkerboard-color-light: rgb(255, 255, 255);
