.Viewer {
  position: absolute;
  left: $unit * 8;
  top: $unit * 3;
  right: 0;
  bottom: $unit * 3;
  background-color: $viewer-bg-color;
  padding: $unit;
  overflow: auto;
}

.Viewer-canvas {
  background-color: #fff;
  cursor: crosshair;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Viewer-resize-wrapper {
  position: relative;
}

.Viewer-resize {
  position: absolute;
  width: $unit / 2;
  height: $unit / 2;
  background-color: $resize-icon-color;

  &.Viewer-resize-top-left {
    top: -$unit / 2;
    left: -$unit / 2;
    cursor: nw-resize;
  }

  &.Viewer-resize-top-middle {
    top: -$unit / 2;
    left: calc(50% - #{$unit / 2});
    cursor: n-resize;
  }

  &.Viewer-resize-top-right {
    top: -$unit / 2;
    right: -$unit / 2;
    cursor: ne-resize;
  }

  &.Viewer-resize-middle-left {
    left: -$unit / 2;
    top: calc(50% - #{$unit / 2});
    cursor: w-resize;
  }

  &.Viewer-resize-middle-right {
    right: -$unit / 2;
    top: calc(50% - #{$unit / 2});
    cursor: e-resize;
  }

  &.Viewer-resize-bottom-left {
    bottom: -$unit / 2;
    left: -$unit / 2;
    cursor: sw-resize;
  }

  &.Viewer-resize-bottom-middle {
    bottom: -$unit / 2;
    left: calc(50% - #{$unit / 2});
    cursor: s-resize;
  }

  &.Viewer-resize-bottom-right {
    bottom: -$unit / 2;
    right: -$unit / 2;
    cursor: se-resize;
  }
}
