.Canvas {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 24px;
  background-color: #8c8c8c;
  overflow: auto; }

.Canvas-canvas {
  background-color: #e6e6e6;
  background-image: linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, white 75%, white), linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, white 75%, white);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
  cursor: crosshair;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.Canvas-resize-wrapper {
  position: relative; }

.Statusbar {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 24px;
  background-color: gainsboro; }

.Toolbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 64px;
  background-color: gainsboro; }

.ToolButton {
  position: relative; }

.ToolButton-input {
  opacity: 0;
  position: absolute;
  width: 1;
  height: 1; }
  .ToolButton-input:checked + .ToolButton-label {
    background-color: #f0f0f0; }

.ToolButton-label {
  cursor: pointer;
  width: 16px;
  height: 16px;
  display: inline-block;
  float: left;
  text-align: center;
  padding: 8px;
  background-color: #646464; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
