.Canvas {
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 32px;
  background-color: #8c8c8c;
  overflow: auto; }

.Canvas-canvas {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAmUlEQVRoQ+3YwQkDMQwFUbkM99+bXIa2hDl8xF4m10DA479vIae7pxY/997FX686HgD6egMQyAnRE+qEnBBtRIWyQipE/VRIhWgjKpQVUiHqp0IqRBtRoayQClG/dYVmZvV/ofcenTH6/ngA6OcN0IvMCTmhCKFSIeqnQipEG1GhrJAKUT8VUiHaiAplhVSI+qmQCtFGflboA/LNAHg8YxooAAAAAElFTkSuQmCC");
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
  cursor: crosshair;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.Canvas-ghost-canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.Canvas-resize-wrapper {
  position: relative; }

.Statusbar {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 32px;
  background-color: #fff;
  line-height: 24px;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
  border-top: 2px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.Statusbar-zoom-slider-container {
  display: flex;
  align-items: center; }

.Statusbar-zoom-label {
  display: inline-block;
  margin-right: 8px;
  width: 120px;
  text-align: right; }

.Statusbar-zoom-slider {
  -webkit-appearance: none;
  width: 100px;
  margin: 8.1px 0; }
  .Statusbar-zoom-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 3.8px;
    cursor: pointer;
    background: #000000;
    border-radius: 0px;
    border: 0px solid #010101; }
  .Statusbar-zoom-slider::-webkit-slider-thumb {
    border: 2px solid #000000;
    height: 16px;
    width: 13px;
    border-radius: 0px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.1px; }
  .Statusbar-zoom-slider:focus::-webkit-slider-runnable-track {
    background: #0d0d0d; }
  .Statusbar-zoom-slider::-moz-range-track {
    width: 100%;
    height: 3.8px;
    cursor: pointer;
    background: #000000;
    border-radius: 0px;
    border: 0px solid #010101; }
  .Statusbar-zoom-slider::-moz-range-thumb {
    border: 2px solid #000000;
    height: 12px;
    width: 9px;
    border-radius: 0px;
    background: #ffffff;
    cursor: pointer; }
  .Statusbar-zoom-slider::-ms-track {
    width: 100%;
    height: 3.8px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent; }
  .Statusbar-zoom-slider::-ms-fill-lower {
    background: #000000;
    border: 0px solid #010101;
    border-radius: 0px; }
  .Statusbar-zoom-slider::-ms-fill-upper {
    background: #000000;
    border: 0px solid #010101;
    border-radius: 0px; }
  .Statusbar-zoom-slider::-ms-thumb {
    border: 2px solid #000000;
    height: 12px;
    width: 9px;
    border-radius: 0px;
    background: #ffffff;
    margin-top: 0px;
    cursor: pointer; }
  .Statusbar-zoom-slider:focus::-ms-fill-lower {
    background: #000000; }
  .Statusbar-zoom-slider:focus::-ms-fill-upper {
    background: #0d0d0d; }

.Toolbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 56px;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #000; }

.Toolbar-input {
  color: #fff;
  background-color: transparent;
  border: none;
  font-family: inherit; }

.ToolButton {
  cursor: pointer;
  width: 48px;
  height: 100%;
  line-height: 84px;
  font-family: inherit;
  font-size: 16px;
  box-sizing: border-box;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center 8px;
  border: none; }
  .ToolButton[disabled] {
    opacity: 0.5;
    cursor: not-allowed; }
  .ToolButton.is-active {
    background-color: #ddd; }
  .ToolButton:not([disabled]):hover {
    background-color: #eee; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'VT323', monospace;
  overflow: hidden; }

#root, .App {
  height: 100%;
  width: 100%; }

*, *:after, *:before {
  box-sizing: border-box; }
