@import 'variables';

@import 'Canvas';
@import 'ColorBar';
@import 'SaveModal';
@import 'StatusBar';
@import 'ToolBar';
@import 'ToolButton';

*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'VT323', monospace;
  overflow: hidden;
}

#root, .App {
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}
